.formular{
	width: 100%;
}
.vote-text{
	position: absolute;
}
nav{
	z-index: 100;
	height: 8%;
	width:100%;
	opacity: 70%;
}
form{
	margin-top: 5%;
	background: #f9de87;
}
.body{
	margin-top: 2%;
}

.pollOption{
	background: none;
	border:none;
	border-bottom: 2px solid #a7b340;
}

.pollOptionHeader{
	font-size: 2em;
}

.logo img{
	position: inherit; 
	z-index: -1;
	top: 3px;
}

.logo{
	position: absolute; 
	top:0; 
	left:0;
	z-index: 1;
}

button.navbar-toggler{
	background:white;
	z-index: 1;
}